body {
  background-color:black;
  font-family: arial;
  color: white;
}
h1{ 
  font-family: verdana ;
  color: gray;}
.maindiv{
  background-color: white;
  color: black;
  width: 500px;
  object-position: center;
  padding: 20px;
  border-radius: 25px;

  }
  .style{
    text-align: left;
    margin-left: 25%;
  }
.footer{
  text-align: left;
}